body {
   margin: 0;
   text-align: center;
   font-family: 'Merriweather', serif;
   /* A */
   color: #40514E;

}

h1 {
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto; 
    font-family: 'Sacramento', cursive;
    color:  #66BFBF;
    line-height: 2;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:  #66BFBF;
    font-weight: normal;
       /* A */
    padding-bottom: 10px;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    color:  #11999E;
}


/* ok */
.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
    /* overflow:hidden; */
}

/* bodyだ馬鹿 */
/* p {
 color: #40514E;
} */

p {
    line-height: 2;

}

/* A */  
/* ok */
hr {
    border: dotted  #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}


.middle-container {
    /* A */
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    /* margin: 0; */
    /* A */
    padding: 50px 0 20px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

/* ok */
.sopho {
    text-decoration: underline;
}
 
/* ok */
.intro {
    width: 30%;
    margin: auto;
}

/* ok */
.contact-message {
    /* A */
    width: 40%;
    margin: 40px auto 60px;
}

/* ok */
.top-cloud {
    position: absolute;
    right: 250px;
    top: 40px;
}

 
.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}


.english-img {
    /* width: 20%; */
    float: left;
    margin-right: 30px;
}

.training-img {
    float: right;
    margin-left: 30px;
}

.english-skill-description {
}

.training-description {
}


/* .footer-link { ではなく*/ 
/* ok */
a {    
    color:  #11999E;
    font-family: 'Montserrat', sans-serif;
    /* A */
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

/* ????? */
.contact-me {
    line-height: 2;
    margin-bottom: 50px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .copyright {
    color: #EAF6F6;
    /* A */
    font-size: .75rem;
    /* =75% of 16px */
    /* A */
    padding: 20px 0;
  }